In [1]:
!apt-get install -y fonts-nanum > /dev/null
!fc-cache -fv > /dev/null
!rm -rf ~/.cache/matplotlib
# Colab 런타임 다시 시작

In [1]:
import matplotlib as mpl 
import matplotlib.pyplot as plt
mpl.rcParams['axes.unicode_minus'] = False
mpl.rcParams['font.family'] = 'NanumBarunGothic'

# 데이터프레임 생성

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('./생필품 농수축산물 가격 정보(2021년1월_6월).csv', 
                 encoding='cp949')

In [ ]:
df.head(3)

In [ ]:
#결측치 확인
df.isnull().sum()

In [10]:
#자료형 확인
df.dtypes

일련번호                  int64
시장/마트 번호              int64
시장/마트 이름             object
품목 번호                 int64
품목 이름                object
실판매규격                object
가격(원)                 int64
년도-월                 object
비고                   object
시장유형 구분(시장/마트) 코드     int64
시장유형 구분(시장/마트) 이름    object
자치구 코드                int64
자치구 이름               object
점검일자                 object
dtype: object

In [9]:
#자료형태 확인
df.shape

(42699, 14)

## 데이터 확인

In [11]:
#컬럼별 데이터 확인 nunique, unique
df['시장/마트 이름'].nunique()

102

In [ ]:
df['시장/마트 이름'].unique()

In [13]:
#중복제거 ['시장/마트 이름']
# '시장/마트 번호','시장/마트 이름', '자치구 이름', 
# '시장유형 구분(시장/마트) 이름'] 을 df_market 변수에 넣어주세요
df_market = df[['시장/마트 번호','시장/마트 이름',
               '자치구 이름',
               '시장유형 구분(시장/마트) 이름']].drop_duplicates()

In [ ]:
# 자치구별 시장/마트 갯수
df_market['자치구 이름'].value_counts()

In [17]:
# df_market[조건]
# 조건 = df_market['자치구 이름'] == '중구'
df_market[df_market['자치구 이름'] == '중구']

      시장/마트 번호   시장/마트 이름 자치구 이름 시장유형 구분(시장/마트) 이름
0            2     신세계백화점     중구              대형마트
21          56      롯데백화점     중구              대형마트
257         60    이마트 청계점     중구              대형마트
576         11      남대문시장     중구              전통시장
3799         8  롯데마트 서울역점     중구              대형마트
4920       199     서울중앙시장     중구              전통시장

In [18]:
df.columns

Index(['일련번호', '시장/마트 번호', '시장/마트 이름', '품목 번호', '품목 이름', '실판매규격', '가격(원)',
       '년도-월', '비고', '시장유형 구분(시장/마트) 코드', '시장유형 구분(시장/마트) 이름', '자치구 코드',
       '자치구 이름', '점검일자'],
      dtype='object')

## 품목 목록

In [19]:
# 품목 목록
df_items = df[['품목 번호', '품목 이름']].drop_duplicates()

In [20]:
df_items = df_items.sort_values('품목 이름')

In [ ]:
#품목 이름 30개씩 확인
df_items[:30]

In [ ]:
df_items[30:60]

In [ ]:
df_items[60:]

In [24]:
df_items.shape

(81, 2)

## 자치구 목록

In [26]:
df_gu = df[['자치구 코드', '자치구 이름']].drop_duplicates()
df_gu.shape

(25, 2)

In [28]:
#시장 유형
df_gubun = df[['시장유형 구분(시장/마트) 코드', '시장유형 구분(시장/마트) 이름']].drop_duplicates()

In [29]:
df_gubun

   시장유형 구분(시장/마트) 코드 시장유형 구분(시장/마트) 이름
0                  2              대형마트
1                  1              전통시장

In [ ]:
df.columns

# 삼겹살 가격을 분석
삼겹살 데이터
* 특정 문자열이 포함되어 있는지 확인 : str.contains(문자열)

In [32]:
#2021-6 의 데이터를 이용하여 삼겹살데이터를 뽑아보세요 600g
df_sam = df[(df['품목 이름'].str.contains('삼겹살')) 
             & (df['년도-월'] == '2021-06') 
             & (df['실판매규격'].str.contains('600g'))]
# 조건 => (품목이름 == 삼겹살) & (년도 == '2021-06') & 실판매규격 == 600g

In [34]:
df_sam.shape

(224, 14)

In [35]:
# 평균 600g 가격
df_sam['가격(원)'].mean()

16842.723214285714

In [36]:
# 최고가 ,
df_sam['가격(원)'].max()

35890

In [37]:
# 최저가 
df_sam['가격(원)'].min()

1690

In [ ]:
# 5000천원 이하인 곳의 데이터를 추출
df_sam[df_sam['가격(원)'] < 5000]

In [39]:
df_sam[df_sam['가격(원)'] < 5000].shape

(2, 14)

우리동네 삼겹살 가격

In [45]:
gu = input('구이름 : ')

구이름 : 관악구

In [46]:
# 우리 구 삼겹살 가격
# df_sam_gu = df_sam[조건1][조건2].drop_duplicates()
# 조건1 = df_sam['자치구 이름'] == gu
# 조건2 = ['시장/마트 이름', '품목 이름', '실판매규격', '가격(원)']
df_sam_gu = df_sam[df_sam['자치구 이름'] == gu][['시장/마트 이름', '품목 이름', '실판매규격', '가격(원)']].drop_duplicates()

In [ ]:
df_sam_gu

In [ ]:
#시각화
x = df_sam_gu['시장/마트 이름']
y = df_sam_gu['가격(원)']
plt.scatter(x, y)
plt.title(gu + ' 삼겹살 가격')
plt.grid(True)